{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Create Punchout Connection' | trans %}

{% block section_title widget_title %}
{% block head_title widget_title %}

{% block action %}
    {{ backActionButton('/punchout-gateway/list/index', 'Back to Connections' | trans) }}
{% endblock %}

{% block content %}
    {{ form_start(punchoutConnectionForm) }}

<div class="tabs-container" data-is-navigable="true" data-auto-errors="true">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-content-connection" role="presentation">
            <a href="#tab-content-connection">{{ 'Connection Details' | trans }}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="tab-content-connection" class="tab-pane active" role="tabpanel">
            <div class="panel-body">
            {{ form_errors(punchoutConnectionForm) }}

            <div class="col-sm-12">
                <div class="form-group {% if punchoutConnectionForm.name.vars.errors|length > 0 %}has-error{% endif %}">
                    {{ form_label(punchoutConnectionForm.name) }}
                    {{ form_widget(punchoutConnectionForm.name) }}
                    {{ form_errors(punchoutConnectionForm.name) }}
                    {{ form_help(punchoutConnectionForm.name) }}
                </div>

                <div class="form-group {% if punchoutConnectionForm.idStore.vars.errors|length > 0 %}has-error{% endif %}">
                    {{ form_label(punchoutConnectionForm.idStore) }}
                    {{ form_widget(punchoutConnectionForm.idStore) }}
                    {{ form_errors(punchoutConnectionForm.idStore) }}
                    {{ form_help(punchoutConnectionForm.idStore) }}
                </div>

                <div class="form-group {% if punchoutConnectionForm.protocolType.vars.errors|length > 0 %}has-error{% endif %}">
                    {{ form_label(punchoutConnectionForm.protocolType) }}
                    {{ form_widget(punchoutConnectionForm.protocolType, {'attr': {'id': 'protocol-type-select'}}) }}
                    {{ form_errors(punchoutConnectionForm.protocolType) }}
                    {{ form_help(punchoutConnectionForm.protocolType) }}
                </div>

                <div class="form-group">
                    {{ form_label(punchoutConnectionForm.processorPluginClass) }}
                    {{ form_widget(punchoutConnectionForm.processorPluginClass) }}
                    {{ form_errors(punchoutConnectionForm.processorPluginClass) }}
                    {{ form_help(punchoutConnectionForm.processorPluginClass) }}
                </div>

                <div id="cxml-config-section" style="display:none;">
                    <h4>{{ 'cXML Configuration' | trans }}</h4>
                    {% if punchoutConnectionForm.cxmlConfiguration is defined %}
                        <div class="form-group {% if punchoutConnectionForm.cxmlConfiguration.senderIdentity.vars.errors|length > 0 %}has-error{% endif %}">
                            {{ form_label(punchoutConnectionForm.cxmlConfiguration.senderIdentity) }}
                            {{ form_widget(punchoutConnectionForm.cxmlConfiguration.senderIdentity) }}
                            {{ form_errors(punchoutConnectionForm.cxmlConfiguration.senderIdentity) }}
                            {{ form_help(punchoutConnectionForm.cxmlConfiguration.senderIdentity) }}
                        </div>
                        <div class="form-group {% if punchoutConnectionForm.cxmlConfiguration.senderSharedSecret.vars.errors|length > 0 %}has-error{% endif %}">
                            {{ form_label(punchoutConnectionForm.cxmlConfiguration.senderSharedSecret) }}
                            {{ form_widget(punchoutConnectionForm.cxmlConfiguration.senderSharedSecret) }}
                            {{ form_errors(punchoutConnectionForm.cxmlConfiguration.senderSharedSecret) }}
                            {{ form_help(punchoutConnectionForm.cxmlConfiguration.senderSharedSecret) }}
                        </div>
                    {% endif %}
                </div>

                <div id="oci-config-section" style="display:none;">
                    <h4>{{ 'OCI Configuration' | trans }}</h4>
                    <div class="form-group {% if punchoutConnectionForm.requestUrl.vars.errors|length > 0 %}has-error{% endif %}">
                        {{ form_label(punchoutConnectionForm.requestUrl) }}

                        <div class="input-group m-b">
                            <span class="input-group-addon">
                                {{ requestUrlPrefix }}
                            </span>
                            {{ form_widget(punchoutConnectionForm.requestUrl) }}
                        </div>

                        {{ form_errors(punchoutConnectionForm.requestUrl) }}
                    </div>


                    {% if punchoutConnectionForm.ociConfiguration is defined %}
                        <div class="form-group {% if punchoutConnectionForm.ociConfiguration.formMethod.vars.errors|length > 0 %}has-error{% endif %}">
                            {{ form_label(punchoutConnectionForm.ociConfiguration.formMethod) }}
                            {{ form_widget(punchoutConnectionForm.ociConfiguration.formMethod) }}
                            {{ form_errors(punchoutConnectionForm.ociConfiguration.formMethod) }}
                            {{ form_help(punchoutConnectionForm.ociConfiguration.formMethod) }}
                        </div>
                        <div class="form-group {% if punchoutConnectionForm.ociConfiguration.usernameField.vars.errors|length > 0 %}has-error{% endif %}">
                            {{ form_label(punchoutConnectionForm.ociConfiguration.usernameField) }}
                            {{ form_widget(punchoutConnectionForm.ociConfiguration.usernameField) }}
                            {{ form_errors(punchoutConnectionForm.ociConfiguration.usernameField) }}
                            {{ form_help(punchoutConnectionForm.ociConfiguration.usernameField) }}
                        </div>
                        <div class="form-group {% if punchoutConnectionForm.ociConfiguration.passwordField.vars.errors|length > 0 %}has-error{% endif %}">
                            {{ form_label(punchoutConnectionForm.ociConfiguration.passwordField) }}
                            {{ form_widget(punchoutConnectionForm.ociConfiguration.passwordField) }}
                            {{ form_errors(punchoutConnectionForm.ociConfiguration.passwordField) }}
                            {{ form_help(punchoutConnectionForm.ociConfiguration.passwordField) }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form_widget(punchoutConnectionForm.isActive) }}
                    {{ form_label(punchoutConnectionForm.isActive) }}
                    {{ form_help(punchoutConnectionForm.isActive) }}
                </div>

                <div class="form-group">
                    {{ form_widget(punchoutConnectionForm.allowIframe) }}
                    {{ form_label(punchoutConnectionForm.allowIframe) }}
                    {{ form_help(punchoutConnectionForm.allowIframe) }}
                </div>
            </div>

            </div>
        </div>
    </div>

    <div class="tabs-footer">
        <input type="submit" class="btn btn-primary safe-submit" value="{{ 'Save' | trans }}">
    </div>

</div>
{{ form_end(punchoutConnectionForm) }}

{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ assetsPath('js/spryker-zed-punchout-gateway-create.js') }}"></script>
{% endblock %}
