{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Edit Punchout Connection' | trans %}

{% block section_title widget_title %}
{% block head_title widget_title %}

{% block action %}
    {{ backActionButton('/punchout-gateway/list/index', 'Back to Connections' | trans) }}
    {% if punchoutConnection.protocolType === 'oci' %}
        {{ createActionButton('/punchout-gateway/credential/add-credential?id-punchout-connection=' ~ idPunchoutConnection, 'Add Credential' | trans) }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(punchoutConnectionForm) }}
    <div class="tabs-container" data-is-navigable="true" data-auto-errors="true">

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-content-connection" role="presentation">
                <a href="#tab-content-connection">{{ 'Connection Details' | trans }}</a>
            </li>
            <li class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-content-field-mapping" role="presentation">
                <a href="#tab-content-field-mapping">{{ 'Field Mapping' | trans }}</a>
            </li>
            {% if punchoutConnection.protocolType === 'oci' %}
            <li class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-content-credentials" role="presentation">
                <a href="#tab-content-credentials">{{ 'Credentials' | trans }}</a>
            </li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div id="tab-content-connection" class="tab-pane active" role="tabpanel">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="form-group {% if punchoutConnectionForm.name.vars.errors|length > 0 %}has-error{% endif %}">
                            {{ form_label(punchoutConnectionForm.name) }}
                            {{ form_widget(punchoutConnectionForm.name) }}
                            {{ form_errors(punchoutConnectionForm.name) }}
                            {{ form_help(punchoutConnectionForm.name) }}
                        </div>

                        <div class="form-group {% if punchoutConnectionForm.idStore.vars.errors|length > 0 %}has-error{% endif %}">
                            {{ form_label(punchoutConnectionForm.idStore) }}
                            {{ form_widget(punchoutConnectionForm.idStore) }}
                            {{ form_errors(punchoutConnectionForm.idStore) }}
                            {{ form_help(punchoutConnectionForm.idStore) }}
                        </div>

                        <div class="form-group {% if punchoutConnectionForm.protocolType.vars.errors|length > 0 %}has-error{% endif %}">
                            {{ form_label(punchoutConnectionForm.protocolType) }}
                            {{ form_widget(punchoutConnectionForm.protocolType, {'attr': {'id': 'protocol-type-select'}}) }}
                            {{ form_errors(punchoutConnectionForm.protocolType) }}
                            {{ form_help(punchoutConnectionForm.protocolType) }}
                        </div>

                        <div class="form-group {% if punchoutConnectionForm.processorPluginClass.vars.errors|length > 0 %}has-error{% endif %}">
                            {{ form_label(punchoutConnectionForm.processorPluginClass) }}
                            {{ form_widget(punchoutConnectionForm.processorPluginClass) }}
                            {{ form_errors(punchoutConnectionForm.processorPluginClass) }}
                            {{ form_help(punchoutConnectionForm.processorPluginClass) }}
                        </div>

                        {% if punchoutConnectionForm.cxmlConfiguration is defined %}
                        <div id="cxml-config-section" style="display:none;">
                            <h4>{{ 'cXML Configuration' | trans }}</h4>
                            <div class="form-group {% if punchoutConnectionForm.cxmlConfiguration.senderIdentity.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(punchoutConnectionForm.cxmlConfiguration.senderIdentity) }}
                                {{ form_widget(punchoutConnectionForm.cxmlConfiguration.senderIdentity) }}
                                {{ form_errors(punchoutConnectionForm.cxmlConfiguration.senderIdentity) }}
                                {{ form_help(punchoutConnectionForm.cxmlConfiguration.senderIdentity) }}
                            </div>
                            <div class="form-group {% if punchoutConnectionForm.cxmlConfiguration.senderSharedSecret.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(punchoutConnectionForm.cxmlConfiguration.senderSharedSecret) }}
                                {{ form_widget(punchoutConnectionForm.cxmlConfiguration.senderSharedSecret) }}
                                {{ form_errors(punchoutConnectionForm.cxmlConfiguration.senderSharedSecret) }}
                                {{ form_help(punchoutConnectionForm.cxmlConfiguration.senderSharedSecret) }}
                            </div>
                        </div>
                        {% endif %}

                        {% if punchoutConnectionForm.ociConfiguration is defined %}
                        <div id="oci-config-section" style="display:none;">
                            <h4>{{ 'OCI Configuration' | trans }}</h4>
                            {% if punchoutConnectionForm.requestUrl is defined %}
                                <div class="form-group {% if punchoutConnectionForm.requestUrl.vars.errors|length > 0 %}has-error{% endif %}">
                                    {{ form_label(punchoutConnectionForm.requestUrl) }}

                                    <div class="input-group m-b">
                                    <span class="input-group-addon">
                                        {{ requestUrlPrefix }}
                                    </span>
                                        {{ form_widget(punchoutConnectionForm.requestUrl) }}
                                    </div>

                                    {{ form_errors(punchoutConnectionForm.requestUrl) }}
                                </div>
                            {% endif %}
                            <div class="form-group {% if punchoutConnectionForm.ociConfiguration.formMethod.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(punchoutConnectionForm.ociConfiguration.formMethod) }}
                                {{ form_widget(punchoutConnectionForm.ociConfiguration.formMethod) }}
                                {{ form_errors(punchoutConnectionForm.ociConfiguration.formMethod) }}
                                {{ form_help(punchoutConnectionForm.ociConfiguration.formMethod) }}
                            </div>
                            <div class="form-group {% if punchoutConnectionForm.ociConfiguration.usernameField.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(punchoutConnectionForm.ociConfiguration.usernameField) }}
                                {{ form_widget(punchoutConnectionForm.ociConfiguration.usernameField) }}
                                {{ form_errors(punchoutConnectionForm.ociConfiguration.usernameField) }}
                                {{ form_help(punchoutConnectionForm.ociConfiguration.usernameField) }}
                            </div>
                            <div class="form-group {% if punchoutConnectionForm.ociConfiguration.passwordField.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(punchoutConnectionForm.ociConfiguration.passwordField) }}
                                {{ form_widget(punchoutConnectionForm.ociConfiguration.passwordField) }}
                                {{ form_errors(punchoutConnectionForm.ociConfiguration.passwordField) }}
                                {{ form_help(punchoutConnectionForm.ociConfiguration.passwordField) }}
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group">
                            {{ form_widget(punchoutConnectionForm.isActive) }}
                            {{ form_label(punchoutConnectionForm.isActive) }}
                            {{ form_errors(punchoutConnectionForm.isActive) }}
                            {{ form_help(punchoutConnectionForm.isActive) }}
                        </div>

                        <div class="form-group">
                            {{ form_widget(punchoutConnectionForm.allowIframe) }}
                            {{ form_label(punchoutConnectionForm.allowIframe) }}
                            {{ form_errors(punchoutConnectionForm.allowIframe) }}
                            {{ form_help(punchoutConnectionForm.allowIframe) }}
                        </div>
                    </div>
                </div>
            </div>

            <div id="tab-content-field-mapping" class="tab-pane" role="tabpanel">
                <div class="panel-body">
                    <div class="col-sm-12">
                        {{ 'Use "value" for a constant (e.g. "EA"). Join segments with & (e.g. item.sku&"_suffix"). & inside quoted strings is not supported.' | trans }}<br/>
                        {{ 'Available data sources: %datasources%.' | trans({'%datasources%' : availableSourceExpressionData | join(', ')}) }}<br/>
                        {{ 'Autocomplete works only at the end of the mapping string.' | trans }}<br/>
                        {{ 'Every part of mapping, that evaluates to NULL or doesn\'t exist, results in an empty string.' | trans }}<br/>
                        {{ 'When you see a * in the end of the suggested mapping value, it means a key-value array, and you have to replace * with a known to you key name.' | trans }}<br/>
                        {{ 'When PunchOut response is built, all fields evaluated to NULL are not sent in response.' | trans }}<br/>
                        <br/>
                    </div>

                    <div class="col-sm-12">
                        {% if punchoutConnectionForm.cxmlConfiguration is defined %}
                        <div id="cxml-mapping-section" style="display:none;">
                            <h5>{{ 'Custom Field Mapping' | trans }}</h5>
                            <p class="help-block">
                                {{ 'Default mapping, which follows protocol description, can be found in <a target="_blank" href="%url%">the public documentation</a>.'
                                | trans({'%url%':'https://docs.spryker.com/docs/pbc/all/punchout-gateway/punchout-protocol-coverage#returned-elements-spryker-to-buyer'}) | raw }}<br/>
                            </p>

                            {% set _p = punchoutConnectionForm.cxmlConfiguration.mappingFields.vars.prototype %}
                            {% set _cxmlMappingProto %}
                                <div class="col-sm-5">{{ form_widget(_p.field) }}</div>
                                <div class="col-sm-5">{{ form_widget(_p.source) }}</div>
                                <div class="col-sm-2"><button type="button" class="btn btn-danger btn-sm js-remove-mapping-row">{{ 'Remove' | trans }}</button></div>
                            {% endset %}
                            <div id="cxml-mapping-rows"
                                 data-prototype="{{ _cxmlMappingProto | e('html_attr') }}">
                                <div class="row" style="margin-bottom:4px;">
                                    <div class="col-sm-5">
                                        <label class="form-label">{{ 'cXML field' | trans }}</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="form-label">{{ 'Field Mapping' | trans }}</label>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                                {% for row in punchoutConnectionForm.cxmlConfiguration.mappingFields %}
                                    <div class="cxml-mapping-row row" style="margin-bottom:4px;">
                                        <div class="col-sm-5">
                                            {{ form_widget(row.field) }}
                                            {{ form_errors(row.field) }}
                                        </div>
                                        <div class="col-sm-5">
                                            {{ form_widget(row.source) }}
                                            {{ form_errors(row.source) }}
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-danger btn-sm js-remove-mapping-row">{{ 'Remove' | trans }}</button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-default btn-sm" id="js-add-mapping-row">+ {{ 'Add Field Mapping' | trans }}</button>
                            <br/>
                            <br/>

                            <h5>{{ 'Extrinsic Fields Mapping' | trans }}</h5>
                            <p class="help-block">
                                {{ 'Map custom Extrinsic fields. Name must not be a reserved user-identity name.' | trans }}<br/>

                                {{ 'Reserved names: %reserved%.' | trans({'%reserved%' : reservedExtrinsicNames | join(', ')}) }}<br/>

                                {{ 'All but reserved extrinsic data from the request is mapped automatically.' | trans }}<br/>
                            </p>


                            {% set _p = punchoutConnectionForm.cxmlConfiguration.mappingExtrinsics.vars.prototype %}
                            {% set _cxmlExtrinsicMappingProto %}
                                <div class="col-sm-5">{{ form_widget(_p.extrinsicName) }}</div>
                                <div class="col-sm-5">{{ form_widget(_p.source) }}</div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-danger btn-sm js-remove-extrinsic-row">{{ 'Remove' | trans }}</button>
                                </div>
                            {% endset %}

                            <div id="cxml-extrinsic-rows"
                                 data-prototype="{{ _cxmlExtrinsicMappingProto | e('html_attr') }}">
                                <div class="row" style="margin-bottom:4px;">
                                    <div class="col-sm-5">
                                        <label class="form-label">{{ 'Extrinsic Field' | trans }}</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="form-label">{{ 'Field Mapping' | trans }}</label>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>

                                {% for row in punchoutConnectionForm.cxmlConfiguration.mappingExtrinsics %}
                                    <div class="cxml-extrinsic-row row" style="margin-bottom:4px;">
                                        <div class="col-sm-5">
                                            {{ form_widget(row.extrinsicName) }}
                                            {{ form_errors(row.extrinsicName) }}</div>
                                        <div class="col-sm-5">
                                            {{ form_widget(row.source) }}
                                            {{ form_errors(row.source) }}
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-danger btn-sm js-remove-extrinsic-row">{{ 'Remove' | trans }}</button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-default btn-sm" id="js-add-extrinsic-row">+ {{ 'Add Extrinsic Field Mapping' | trans }}</button>
                        </div>
                        {% endif %}

                        {% if punchoutConnectionForm.ociConfiguration is defined %}
                        <div id="oci-mapping-section" style="display:none;">
                            {% if punchoutConnectionForm.ociConfiguration.mappingFields is defined %}
                                <h5>{{ 'Custom Field Mapping' | trans }}</h5>
                                <p class="help-block">
                                    {{ 'Default mapping, which follows protocol description, can be found in <a target="_blank" href="%url%">the public documentation</a>.'
                                    | trans({'%url%':'https://docs.spryker.com/docs/pbc/all/punchout-gateway/punchout-protocol-coverage#returned-fields-spryker-to-buyer'}) | raw }}<br/>
                                </p>

                                {% set _p = punchoutConnectionForm.ociConfiguration.mappingFields.vars.prototype %}
                                {% set _ociMappingProto %}
                                <div class="col-sm-5">{{ form_widget(_p.field) }}</div>
                                <div class="col-sm-5">{{ form_widget(_p.source) }}</div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-danger btn-sm js-remove-oci-mapping-row">{{ 'Remove' | trans }}</button>
                                </div>
                                {% endset %}

                                <div id="oci-mapping-rows"
                                     data-prototype="{{ _ociMappingProto | e('html_attr') }}">
                                    <div class="row" style="margin-bottom:4px;">
                                        <div class="col-sm-5">
                                            <label class="form-label">{{ 'OCI Field' | trans }}</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <label class="form-label">{{ 'Field Mapping' | trans }}</label>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                    {% for row in punchoutConnectionForm.ociConfiguration.mappingFields %}
                                        <div class="oci-mapping-row row" style="margin-bottom:4px;">
                                            <div class="col-sm-5">
                                                {{ form_widget(row.field) }}
                                                {{ form_errors(row.field) }}
                                            </div>
                                            <div class="col-sm-5">
                                                {{ form_widget(row.source) }}
                                                {{ form_errors(row.source) }}
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-danger btn-sm js-remove-oci-mapping-row">{{ 'Remove' | trans }}</button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="button" class="btn btn-default btn-sm" id="js-add-oci-mapping-row">+ {{ 'Add Field Mapping' | trans }}</button>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if punchoutConnection.protocolType === 'oci' %}
            <div id="tab-content-credentials" class="tab-pane" role="tabpanel">
                <div class="panel-body">
                    {% block widget_content %}
                        {{ credentialTable | raw }}
                    {% endblock %}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="tabs-footer">
            <input type="submit" class="btn btn-primary safe-submit" value="{{ 'Save' | trans }}">

            <span class="tabs-navigation float-end">
                <a href="#" class="btn btn-tab-previous btn-outline btn-view hidden"><i class="fa fa-angle-left"></i>{{ 'Previous' | trans }}</a>
                <a href="#" class="btn btn-tab-next btn-outline btn-view">{{ 'Next' | trans }} <i class="fa fa-angle-right"></i></a>
            </span>
        </div>

    </div>

    {% if punchoutConnectionForm.cxmlConfiguration is defined %}
        {% do punchoutConnectionForm.cxmlConfiguration.mappingFields.setRendered() %}
        {% do punchoutConnectionForm.cxmlConfiguration.mappingExtrinsics.setRendered() %}
    {% endif %}
    {% if punchoutConnectionForm.ociConfiguration is defined %}
        {% do punchoutConnectionForm.ociConfiguration.mappingFields.setRendered() %}
    {% endif %}
    {{ form_end(punchoutConnectionForm) }}
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ assetsPath('js/spryker-zed-punchout-gateway-edit.js') }}"></script>
{% endblock %}
