{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Add Credential' | trans %}

{% block section_title widget_title %}
{% block head_title widget_title %}

{% block action %}
    {{ backActionButton('/punchout-gateway/edit/index?id-punchout-connection=' ~ idPunchoutConnection, 'Back to Connection' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_content %}
            {{ form_start(credentialForm) }}

            <div class="col-sm-12">
                <div class="form-group {% if credentialForm.username.errors|length > 0 %}has-error{% endif %}">
                    {{ form_label(credentialForm.username) }}
                    {{ form_widget(credentialForm.username) }}
                    {{ form_errors(credentialForm.username) }}
                    {{ form_help(credentialForm.username) }}
                </div>

                <div class="form-group {% if credentialForm.password.first.errors|length > 0 %}has-error{% endif %}">
                    {{ form_label(credentialForm.password.first) }}
                    {{ form_widget(credentialForm.password.first) }}
                    {{ form_errors(credentialForm.password.first) }}
                    {{ form_help(credentialForm.password.first) }}
                </div>

                <div class="form-group {% if credentialForm.password.second.errors|length > 0 %}has-error{% endif %}">
                    {{ form_label(credentialForm.password.second) }}
                    {{ form_widget(credentialForm.password.second) }}
                    {{ form_errors(credentialForm.password.second) }}
                    {{ form_help(credentialForm.password.second) }}
                </div>

                <div class="form-group">
                    {{ form_label(credentialForm.idCustomer) }}
                    {{ form_widget(credentialForm.idCustomer) }}
                    {{ form_errors(credentialForm.idCustomer) }}
                    {{ form_help(credentialForm.idCustomer) }}
                </div>

                <div class="form-group">
                    {{ form_widget(credentialForm.isActive) }}
                    {{ form_label(credentialForm.isActive) }}
                    {{ form_errors(credentialForm.idCustomer) }}
                    {{ form_help(credentialForm.idCustomer) }}
                </div>
            </div>

            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">{{ 'Save Credential' | trans }}</button>
            </div>

            {{ form_end(credentialForm) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
